.header-page{
    display: flex;
    justify-content: space-between;
}

.btn__add__href{
    color:#fff!important;
}
.alert__session .alert{
    padding: .95rem!important;
}
.review-img img {
    width: 100%;
}
.img{
    object-fit: cover;
}
